.env

# Xcode
xcuserdata/

# summonbin
summon

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
build/

# CocoaPods
Pods/

# SwiftGen
Sources/--Project Name--/L10n.swift
Sources/--Project Name--/Asset.swift

# Sourcery
Sources/--Project Name--/Sourcery.swift
Tests/--Project Name--Tests/Sourcery.swift

# Info.plist
Sources/--Project Name--/Info-AdHoc.plist
Sources/--Project Name--/Info-Release.plist
