.env

# Xcode
xcuserdata/

# summonbin
summon

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/screenshots/screenshots.html
fastlane/test_output
build/

# CocoaPods
Pods/

# Sourcery
Sources/--PROJECT_NAME--/Sourcery.swift
Tests/--PROJECT_NAME--Tests/Sourcery.swift

# Info.plist
Sources/--PROJECT_NAME--/Info-AdHoc.plist
Sources/--PROJECT_NAME--/Info-Release.plist
